# salin ke .env — .env sudah di-gitignore
SEPOLIA_RPC_URL=https://ethereum-sepolia-rpc.publicnode.com
ETHERSCAN_API_KEY=
DEPLOYER_PRIVATE_KEY=
KEEPER_PRIVATE_KEY=

# The Graph
GRAPH_STUDIO_DEPLOY_KEY=
SUBGRAPH_QUERY_API_KEY=
